{% macro app_credit_item_card_list_component( credit_items ) %}
	{% from 'components/AppCreditItemCardComponent.twig' import app_credit_item_card_component %}
	<div class="tokenly-component app-credit-item-card-list">
		<div class="title-container">
			<h2>App credits</h2>
			<hr>
		</div>
		<div class="token-items">
			{% for credit_item in credit_items %}
				{{
					app_credit_item_card_component(
						credit_item.name,
						credit_item.balance
					)
				}}
			{% endfor %}
		</div>
	</div>
{% endmacro %}
