<div class="tokenpass-login-container">
	<a href="{{ url }}" class="tokenly-component-button with-icon tokenpass-login">
		<span class='icon'>{{ logo | raw }}</span>
		<span class='title'>{{ label }}</span>
	</a>
</div>
