<div class="tokenpass-login-container">
	<button class="button tokenpass-login"><span class='button-logo'>{{ logo | raw }}</span><span class='button-title'>Login with Tokenpass</span></button>
</div>
