<script type="text/javascript">
	let tokenpassData = {}
	tokenpassData.props = JSON.parse( `{{ props|json_encode|raw }}` );
	tokenpassData.view = '{{ view }}';
	tokenpassData.useTCA = '{{ use_tca ?? false }}'
	window.tokenpassData = tokenpassData;
</script>
<div id="tokenpass-admin-page-{{ view }}" class="tokenpass-admin-page"></div>
