<script type="text/javascript">
	window.tokenpassProps = JSON.parse( `{{ props|json_encode|raw }}` );
	window.tokenpassView = '{{ view }}';
</script>
<div id="tokenpass-admin-page-{{ view }}" class="tokenpass-admin-page"></div>
