{% extends "Base.twig" %}
{% block main %}
	{{ get_header() }}
	</div>
		<main id="site-content" class="tokenly-page" role="main">
			{% block content %}{% endblock %}
		</main>
	<div>
	{{ get_footer() }}
{% endblock %}
