{{ header | raw }}
</div>
<main id="site-content" class="tokenly-page" role="main">
	{{ user_info_block | raw }}
	<div class="tokenly-component spacer lg"></div>
	{{ list_card_token_block | raw }}
	<div class="tokenly-component spacer lg"></div>
</main>
<div>
{{ footer | raw }}
