{% extends "Index.twig" %}
{% block content %}
	<div class="tokenly-component spacer lg"></div>
	{{ do_shortcode( "[tokenly_user_info]" ) | raw }}
	<div class="tokenly-component spacer lg"></div>
	{{ do_shortcode( "[tokenly_token_inventory]" ) | raw }}
	<div class="tokenly-component spacer lg"></div>
	{{ do_shortcode( "[tokenly_app_credit_inventory]" ) | raw }}
	<div class="tokenly-component spacer lg"></div>
{% endblock %}
