{% from 'components/CardAppCreditItemComponent.twig' import card_app_credit_item_component %}
{% macro list_card_app_credit_item_block( credit_items ) %}
	<div class="tokenly-block block-list-card-token-item">
		<div class="row">
			<div class="container">
				{% for credit_item in credit_items %}
					{{ card_app_credit_item_component( 
					
					 ) }}
				{% endfor %}
			</div>
		</div>
	</div>
{% endmacro %}