{% from 'components/CardTokenItemComponent.twig' import card_token_item_component %}
{% macro list_card_token_item_block( token_items ) %}
<div class="tokenly-block block-list-card-token-item">
	<div class="row">
		<div class="container">
			{{ card_token_item_component() }}
			{% for token_item in token_items %}
				{{ card_token_item_component( 
					token_item.image,
					token_item.name,
					token_item.description,
					token_item.balance,
					token_item.asset,
					token_item.extra 
				) }}
			{% endfor %}
		</div>
	</div>
</div>
{% endmacro %}