@use '/resources/scss/variables' as *;

.block-list-card-token-item {
	.row {
		.container {
			display: grid;
			grid-auto-flow: row;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			grid-gap: 12px;
			.component-card-token-item {
				width: 100%;
			}
		}		
	}
	@include md {
		.row {
			.container {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}
	}
	@include lg {
		.row {
			.container {
				grid-template-columns: repeat(4, minmax(0, 1fr));
			}
		}
	}
}
