@use '/resources/scss/variables' as *;
@use '/resources/scss/Pages/DashboardPage.scss' as *;
@use '/resources/scss/Pages/SettingsPage.scss' as *;
@use '/resources/scss/Pages/WhitelistPage.scss' as *;

body.login {
	.tokenpass-login-container {
		display: flex;
		justify-content: center;
		margin-top: 24px;
	}
}

.tokenpass-admin-page {
	.save-button-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start !important;
		/* autoprefixer: ignore next */
		align-items: center !important;
	}
}

.components-form-token-field__suggestions-list li {
	overflow: hidden;
	text-overflow: ellipsis;
}

.tokenpass.status-indicator {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

#adminmenu {
	a div.with-icon {
		display: flex;
		align-items: center;
		.dashicons {
			display: flex;
			align-items: center;
			font-size: 14px;
			margin-left: 4px;
		}
	}
}

