@use '/resources/scss/variables' as *;
@use '/resources/scss/Pages/DashboardPage.scss' as *;
@use '/resources/scss/Pages/SettingsPage.scss' as *;
@use '/resources/scss/Pages/WhitelistPage.scss' as *;
@use '/resources/scss/Admin/Components/Chip.scss' as *;
@use '/resources/scss/Admin/Components/Search.scss' as *;

body.login {
	.tokenly-login.login-container {
		display: flex;
		justify-content: center;
		margin-top: 24px;
	}
}

.tokenpass-admin-page {
	.save-button-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start !important;
		/* autoprefixer: ignore next */
		align-items: center !important;
	}
}

.components-form-token-field__suggestions-list li {
	overflow: hidden;
	text-overflow: ellipsis;
}

.tokenpass.status-indicator {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

#adminmenu {
	a div.with-icon {
		display: flex;
		align-items: center;
		.dashicons {
			display: flex;
			align-items: center;
			font-size: 14px;
			margin-left: 4px;
		}
	}
}

#featured_image{
	width:120px;
}
td.featured_image.column-featured_image img{
	max-width: 100%;
	height: auto;
}

/* some styles to make Quick Edit meny beautiful */
.tokenly_featured_image .title {
	margin-top: 10px;
	display: block;
}
.tokenly_featured_image a.tokenly_upload_featured_image{
	display: inline-block;
	margin: 10px 0 0;
}
.tokenly_featured_image img{
	display: block;
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.tokenly_featured_image .tokenly_remove_featured_image{
	display: none;
}

.token-meta-list-featured-image a {
	display: inline-block;
}
