@use '/resources/scss/variables' as *;
@use '/resources/scss/Components/LoginButtonComponent.scss' as *;

.tokenly-component-chip {
	background-color: transparent;
	border: 1px solid var(--wp-admin-theme-color);
	padding: 2px 8px;
	font-size: 0.775rem;
	color: var(--wp-admin-theme-color);
	font-weight: 400;
	border-radius: 12px;
}

.tokenly-component-button {
	display: inline;
	background-color: $color-primary;
	color: white !important;
	cursor: pointer;
	border: none;
	font-size: 14px;
	font-weight: 500;
	padding: 8px 18px;
	border-radius: 25px 25px 25px 25px;
	transition: none;
	text-decoration: none !important;
	position: relative;
	&.with-icon {
		display: inline-grid;
		grid-template-columns: 32px 1fr;
		flex-direction: row;
		grid-column-gap: 8px;
		/* autoprefixer: ignore next */
		align-items: center;
		.icon {
			display: flex;
			align-items: center;
			svg {
				* {
					fill: white;
				}
				width: 32px;
				height: 32px;
			}
		}
	}
	&.with-loader {
		.tokenly-loader-container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			visibility: hidden;
		}
		&.loading {
			.title {
				visibility: hidden;
			}
			.icon {
				visibility: hidden;
			}
			.tokenly-loader-container {
				visibility: visible;
			}
		}
	}
	.title {
		color: white;
		text-decoration: none;
		text-decoration-color: white;
	}
	&:hover {
		.title {
			text-decoration: underline;
		}
	}
}


.tokenly-loader,
.tokenly-loader:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.tokenly-loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
	overflow: hidden;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
