@use '/resources/scss/variables' as *;
@use '/resources/scss/Components/LoginButtonComponent.scss' as *;
@use '/resources/scss/Loader.scss' as *;
@use '/resources/fonts/tokenly-icons/css/tokenly-icons.scss' as *;

:root {
	--tokenly-color-primary: #635BFF; 
	--tokenly-color-text: #0B0B0B;
}

.tokenly-component-button {
	display: inline;
	background-color: var( --tokenly-color-primary );
	color: white !important;
	cursor: pointer;
	border: none;
	font-size: 14px;
	font-weight: 500;
	padding: 8px 18px;
	border-radius: 25px 25px 25px 25px;
	transition: none;
	text-decoration: none !important;
	position: relative;
	&.with-icon {
		display: inline-grid;
		grid-template-columns: 32px 1fr;
		flex-direction: row;
		grid-column-gap: 8px;
		/* autoprefixer: ignore next */
		align-items: center;
		.icon {
			display: flex;
			align-items: center;
			svg {
				* {
					fill: white;
				}
				width: 32px;
				height: 32px;
			}
		}
	}
	&.with-loader {
		.tokenly-loader {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			visibility: hidden;
		}
		&.loading {
			.title {
				visibility: hidden;
			}
			.icon {
				visibility: hidden;
			}
			.tokenly-loader {
				visibility: visible;
			}
		}
	}
	.title {
		color: white;
		text-decoration: none;
		text-decoration-color: white;
	}
	&:hover {
		.title {
			text-decoration: underline;
		}
	}
}
