<div>
	{{ do_shortcode( "[tokenly_token_meta_info id='#{id}']" )|raw }}
	<div class="tokenly-component spacer lg"></div>
	{{ do_shortcode( "[tokenly_token_meta_attributes id='#{id}']" )|raw }}
	<div class="tokenly-component spacer lg"></div>
	{{ do_shortcode( "[tokenly_token_meta_media id='#{id}']" )|raw }}
</div>
