@use '/resources/scss/variables' as *;

.component-card-token-item {
	background-color: white;
	border-radius: 12px;
	box-shadow: 12px 12px 8px 0px rgba(0, 0, 0, 0.04);
	min-height: 150px;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	.image-container {
		height: 210px;
		position: relative;
		.image {
			height: 100%;
			img {
				width: 100%;
				height: 100% !important;
				object-fit: cover;
				border-radius: 12px 12px 0 0;
			}
		}
	}
	.info-container {
		display: flex;
		flex-direction: column;
		padding: 18px;
		flex: 1;
		.name {
			font-size: 1.125rem;
			word-wrap: break-word;
			font-weight: 700;
			flex: 1;
		}
		.description {
			font-size: 0.875rem;
			word-wrap: break-word;
			font-weight: 300;
			height: 50px;
			overflow: hidden;
		}
		.balance-container {
			margin-top: 12px;
			.label {
				font-weight: 300;
				font-size: 0.875rem;
			}
		}
		.extra-button-container {
			margin-top: 12px;
			display: flex;
			justify-content: center;
			.extra-button {
				color: $color-primary;
				border: 2px solid $color-primary;
				font-weight: 500;
				border-radius: 5px;
				padding: 4px 12px;
				cursor: pointer;
			}
		}
	}
	.extra-container {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-primary;
		color: white;
		z-index: 10;
		transition: transform 0.3s;
		padding: 16px 16px 16px 16px;
		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.title {
				color: white;	
				font-size: 1.75rem;
				font-weight: 300;
			}
			.close-button {
				position: relative;
				cursor: pointer;
				width: 48px;
				height: 48px;
				border-radius: 50%;
				div {
					width: 3px;
					height: 36px;
					background-color: white;
					position: absolute;
					top: 50%;
					left: 50%;
				}
				div:nth-child(1) {
					transform: translate(-50%, -50%) rotate(45deg) ;
				}
				div:nth-child(2) {
					transform: translate(-50%, -50%) rotate(315deg) ;
				}
			}
		}
		.name {
			font-size: 1.25rem;
			margin-bottom: 8px;
			word-wrap: break-word;
		}
		.attributes-container {
			overflow: auto;
			width: 100%;
			height: 100%;
			table, th, td {
				border: 1px solid white;
			}
			table {
				border-collapse: collapse;
				table-layout: fixed;
			}
		}
	}
	&.extra-shown {
		.extra-container {
			transform: translateY(-100%);
		}
	}

	@include md {

	}
	@include lg {
		.info-container {
			.extra-button-container {
				.extra-button {
					transition-property: background-color, color;
					transition-duration: 0.2s;
					&:hover {
						background-color: $color-primary;
						color: white;
					}
				}
			}
		}
		.extra-container {
			.close-button {
				transition: background-color 0.2s;
				div {
					transition: background-color 0.2s;
				}
				&:hover {
					background-color: white;
					div {
						background-color: $color-primary;
					}
				}
			}
		}
	}
}
