@use '/resources/scss/variables' as *;

.app-credit-item-card-list, .token-item-card-list {
	.title-container {
		hr {
			margin-bottom: 24px;
			opacity: 0.5;
		}
	}
	.token-items {
		display: grid;
		/* autoprefixer: ignore next */
		grid-auto-flow: row;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		grid-row-gap: 12px;
		grid-column-gap: 12px;
		.component-card-token-item {
			width: 100%;
		}
	}
	@include md {
		.token-items {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
	@include lg {
		.token-items {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
	}
}
